


<!--gallery.html-->

<div class="blue lighten-4 section gallery">
    <div class="container">

        <!--gallery header-->
        <div class="row">
            <div class="center-align script-font">
                <h1>The Videos</h1>
            </div>
        </div>

        <!-- first row of images-->
        <div class="row">
            <!--image 1-->
            <div class="col m6">

              <!-- Dropdown Trigger -->
               <a class='blue dropdown-button btn-large' href='#' data-activates='dropdown1'>How To Get Away With Murder</a>

               <!-- Dropdown Structure -->
               <ul id='dropdown1' class='dropdown-content'>
                 <li><a class="blue-text modal-trigger video-select" href="#videoModal" data="d1">one</a></li>

                 <li class="blue divider"></li>

               </ul>

            </div>

            <div class="col m6">

              <!-- Dropdown Trigger -->
               <a class='blue dropdown-button btn-large' href='#' data-activates='dropdown1'>Westworld</a>

               <!-- Dropdown Structure -->
               <ul id='dropdown1' class='dropdown-content'>
                 <li><a class="blue-text modal-trigger video-select" href="#videoModal" data="d1">one</a></li>
                <li class="blue divider"></li>
                 <li><a class="blue-text modal-trigger video-select" href="#videoModal" data="d2">two</a></li>
                 <li class="blue divider"></li>
                 <li><a class="blue-text modal-trigger video-select" href="#videoModal" data="d3">three</a></li>
               </ul>


            </div>



        </div>
        <!--end of first row of images-->


    </div>
</div>
<!--end gallery-->
