<!-- start navbar.html -->
<div class="navbar-fixed z-depth-3">
  <nav class="blue" role="navigation">
    <div class="my-navbar"><a id="logo-container" href="#" class="brand-logo">FlippantFlix</a>
      <ul class="desktop-links">
        <li><a href="#">One</a></li>
        <li><a href="#">two</a></li>
        <li><a href="#">Three</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>
<!-- end navbar.html -->
